# Frontend dependencies
frontend/node_modules/
frontend/dist/

# Backend data & uploads (don't push DB or user uploads)
backend/data/
backend/uploads/
backend_log.txt

# Editor / OS files
.vscode/
.idea/
*.DS_Store
.env

# Additional Ignores
backend/*.sqlite
backend/*.log
wa-bot/node_modules/
wa-bot/.env
